.article-list,
.topic-list,
.comment-list,
.article,
.login-form,
.comment-form,
.error-card {
  margin: 1vw;
}
.comment-list {
  margin-left: 2vw;
}
.login-button,
.comment-button {
  margin-top: 1vh;
  margin-right: 1vw;
}
.sort-button,
.vote-button {
  margin-left: 1vw;
}
.capitalize {
  text-transform: capitalize;
}
.github-link,
.github-link:hover {
  color: #182026;
  text-decoration: none;
  cursor: help;
}

@media only screen and (max-width: 400px) {
  .button-text {
    display: none;
  }
}
