.article-list,
.topic-list,
.comment-list,
.article,
.login-form,
.comment-form,
.article-form,
.error-card,
.pagination-footer {
  margin: 1vw;
}
.comment-list {
  margin-left: 2vw;
}
.login-button,
.comment-button,
.article-input,
.article-button {
  margin-top: 1vh;
  margin-right: 1vw;
}
.sort-button,
.vote-button,
.pagination-button {
  margin-left: 1vw;
}
.capitalize {
  text-transform: capitalize;
}
.github-link,
.github-link:hover {
  color: #182026;
  text-decoration: none;
  cursor: help;
}
select {
  -webkit-appearance: menulist !important;
  -moz-appearance: menulist !important;
  appearance: menulist !important;
}

@media only screen and (max-width: 500px) {
  .button-text {
    display: none;
  }
}
