.article-list,
.topic-list,
.comment-list,
.article,
.login-form,
.comment-form {
  margin: 1vw;
}
.comment-list {
  margin-left: 2vw;
}
.login-button,
.comment-button {
  margin-top: 1vh;
  margin-right: 1vw;
}
.sort-button,
.vote-button {
  margin-left: 1vw;
}
